:root {
    --negro: #000;
    --blanco: #fff;
    --grafito: #222;
    --rojo: #B81515;
    --gris-claro: #F5F5F5;
    --gris-oscuro: #8C8C8C;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.encabezado {
    background: var(--negro);
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 60px;
}

.encabezado__logo--icono {
    max-width: 260px;
}

.encabezado__navegacion {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.encabezado__navegacion a {
    color: var(--blanco);
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
}

.banner__img-wrapper {
    margin: 0;
}

.banner__img {
    max-width: 100%;
    margin: 0;
}

.banner__descripcion {
    max-width: 1200px;
    color: var(--grafito);
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 150%;
    margin: 110px auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.ofertas {
    margin-bottom: 112px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.ofertas__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    padding: 24px;
    background: var(--rojo);
    color: var(--blanco);
    text-align: center;
    flex: 1 1 calc(50% - 48px);
}

.ofertas__card span {
    font-size: 20px;
    font-weight: 400;
}

.ofertas__card b {
    font-size: 48px;
    font-weight: 700;
}

.ofertas__card p {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.ofertas__card button {
    border-radius: 8px;
    background: var(--rojo);
    color: var(--blanco);
    padding: 16px 48px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.busca {
    margin-bottom: 112px;
}

.busca__categorias {
    display: flex;
    gap: 24px;
}

.busca__categoria {
    color: var(--grafito);
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    background: var(--gris-claro);
    padding: 24px;
    border-radius: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.material-symbols-outlined {
    color: var(--gris-oscuro);
    font-size: 80px;
    margin-bottom: 16px;
}

.destinos {
    margin-bottom: 112px;
}

.destinos__lista {
    display: flex;
    gap: 24px;
}

.destinos__elemento {
    flex: 1;
    text-align: center;
    padding: 24px;
    background: var(--gris-claro);
    border-radius: 8px;
}

.destinos__elemento--image {
    max-width: 100%;
    margin-bottom: 24px;
}

.destinos__elemento b {
    color: var(--grafito);
    font-size: 28px;
    font-weight: 700;
    margin: 24px 0;
}

.destinos__elemento p {
    color: var(--grafito);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 24px;
}

.destinos__elemento button {
    border-radius: 8px;
    background: var(--rojo);
    color: var(--blanco);
    padding: 16px 48px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.pago {
    margin-bottom: 112px;
}

.pago h2 {
    text-align: center;
    color: var(--grafito);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 64px;
}

.pago p {
    text-align: center;
    color: var(--grafito);
    font-size: 20px;
    line-height: 32px;
}

.testimonios {
    margin-bottom: 112px;
}

.testimonios__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.testimonios__autor-foto {
    border-radius: 50%;
    width: 86px;
}

.testimonios__evaluacion {
    display: flex;
    gap: 4px;
}

.testimonios__evaluacion img {
    width: 24px;
}

.footer {
    background: var(--negro);
    padding: 40px 0;
    color: var(--blanco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer__logo {
    max-width: 160px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__info p {
    color: var(--blanco);
    font-size: 20px;
    font-weight: 400;
}

.footer__social {
    text-align: center;
}

.footer__social p {
    font-size: 16px;
    margin-bottom: 16px;
}

.footer__social a img {
    width: 24px;
    margin: 0 8px;
}